---
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="Laboratorio de prótesis oculares | Página no encontrada"
	description="Descubre en nuestro laboratorio de prótesis ocular una atención especializada y prótesis oftálmicas a medida. Con profesionales altamente calificados, ofrecemos soluciones personalizadas para restaurar la estética y la funcionalidad visual. ¡Contáctanos hoy para una consulta!"
	canonical="https://protesis-ocularjlemus.com/"
>
	<main
		class="flex h-[calc(100vh-68px)] flex-col items-center justify-center space-y-4 text-center text-black dark:text-white"
	>
		<h1 class="font-title text-[250px] font-extrabold text-primary">404</h1>
		<div>
			<h2
				class="relative mx-0 mb-4 mt-0 max-w-[43.75rem] animate-slide-in-left font-title text-header font-black leading-[1.2em] text-black duration-700 [text-align:inherit] dark:text-white"
			>
				Página no encontrada
			</h2>
			<p
				class="m-0 w-full max-w-[40.625rem] animate-slide-in-top leading-[1.5em] text-black duration-1000 dark:text-white"
			>
				Lo sentimos, la página que buscas no existe.
			</p>
		</div>
	</main>
</Layout>
