---
import Layout from "@/layouts/Layout.astro"
import Contact from "@/sections/Contact.astro"
import Hero from "@/sections/Hero.astro"
import Products from "@/sections/Products.astro"
import Services from "@/sections/Services.astro"
---

<Layout
	title="Laboratorio de prótesis oculares | Jorge Enrique Lemus"
	description="Descubre en nuestro laboratorio de prótesis ocular una atención especializada y prótesis oftálmicas a medida. Con profesionales altamente calificados, ofrecemos soluciones personalizadas para restaurar la estética y la funcionalidad visual. ¡Contáctanos hoy para una consulta!"
	canonical="https://protesis-ocularjlemus.com"
>
	<Hero />
	<main>
		<Services />
		<Products />
		<Contact />
	</main>
</Layout>
