---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laboratorio de Prótesis Ocular | Expertos en Prótesis Oftálmicas Personalizadas" description="Descubre en nuestro laboratorio de prótesis ocular una atención especializada y prótesis oftálmicas a medida. Con profesionales altamente calificados, ofrecemos soluciones personalizadas para restaurar la estética y la funcionalidad visual. ¡Contáctanos hoy para una consulta!">
	<main class="flex items-center justify-center h-screen w-full flex-col gap-5">
		<h1 class="text-4xl font-bold animate-shake animate-iteration-count-infinite">¡Hola mundo!</h1>
		<p class="text-lg">Este es mi primer sitio web con Astro.</p>
		<p class="text-lg">¡Espero que te guste!</p>
	</main>
</Layout>
