---
import ContactInfoContainer from "@/components/ContactInfoContainer.astro"
import ContactInfoItem from "@/components/ContactInfoItem.astro"

export interface ContactProps {
	href: string
	label: string
	alt: string
	value: string
	icon: string
}

const contactInfo: ContactProps[] = [
	{
		href: "tel:573162206739",
		label: "Teléfono",
		alt: "Ícono teléfono",
		value: "(+57) 316 220 6739",
		icon: "/icons/phone.svg",
	},
	{
		href: "mailto:jelemus024726@gmail.com",
		label: "Correo Electrónico",
		alt: "Ícono correo",
		value: "jelemus024726@gmail.com",
		icon: "/icons/email.svg",
	},
	{
		href: "https://maps.app.goo.gl/8kUxKbq1i7xX5aHW7",
		label: "Dirección",
		alt: "Ícono dirección",
		value: "Carrera 82 #22F-15 Oficina 401. Bogotá, Colombia",
		icon: "/icons/pin.svg",
	},
]
---

<section id="contact" class="relative px-8 py-32 text-black dark:text-white">
	<div
		class="relative m-auto flex w-full max-w-[36.5rem] flex-col items-stretch justify-center gap-[clamp(2rem,3vw,3rem)] gap-x-[auto] md:max-w-[80rem] md:flex-row md:justify-between"
	>
		<div class="flex w-full flex-none flex-col items-start text-left md:w-[47%]">
			<span
				class="mb-1 block font-body text-topper font-bold uppercase leading-[1.2em] tracking-widest text-primary [text-align:inherit]"
			>
				Contáctanos
			</span>
			<h2
				class="relative mx-0 mb-4 mt-0 max-w-[23ch] font-title text-header font-black leading-[1.2em] text-black [text-align:inherit] dark:text-white"
			>
				Comunícate con Nosotros
			</h2>
			<p
				class="m-0 mb-8 w-full max-w-[40.625rem] leading-[1.5rem] text-black [text-align:inherit] dark:text-white"
			>
				Estamos aquí para responder a todas tus preguntas, escuchar tus inquietudes y brindarte el
				apoyo que necesitas. No dudes en ponerte en contacto con nuestro equipo experto. Ya sea que
				estés buscando más información sobre nuestros servicios, tengas dudas sobre nuestros
				productos o simplemente quieras compartir tus comentarios, estamos aquí para ayudarte en
				cada paso del camino. ¡Esperamos con interés conocerte y trabajar juntos para resolver todas
				tus inquietudes!
			</p>
			<ContactInfoContainer>
				{contactInfo.map((contact) => <ContactInfoItem {...contact} />)}
			</ContactInfoContainer>
		</div>
		<form
			action=""
			class="box-border flex w-full max-w-[39.375rem] flex-wrap items-center justify-between gap-3 rounded-2xl bg-tertiary p-[clamp(1.5rem,18vw,3rem)_clamp(1rem,4vw,3rem)] lg:w-[46%] lg:max-w-[36.125rem] dark:bg-secondary"
		>
			<h3 class="mb-1 text-form-title font-bold leading-[1.2em] text-black dark:text-white">
				Envíanos un Correo
			</h3>
			<label
				class="flex w-full flex-col items-start justify-center gap-1 text-form-label text-black dark:text-white"
				for="name"
			>
				Nombre
				<input
					class="box-border h-14 w-full rounded-lg bg-white p-0 pl-6 text-base text-black [border:none] placeholder:text-neutral-700 placeholder:opacity-60"
					type="text"
					name="name"
					id="name"
					required
					placeholder="Nombre"
				/>
			</label>
			<label
				for="email"
				class="flex w-full flex-col items-start justify-center gap-1 text-form-label text-black dark:text-white"
			>
				Correo electrónico
				<input
					class="box-border h-14 w-full rounded-lg bg-white p-0 pl-6 text-base text-black [border:none] placeholder:text-neutral-700 placeholder:opacity-60"
					type="text"
					name="email"
					id="email"
					required
					placeholder="Correo electrónico"
				/>
			</label>
			<label
				for="phone"
				class="flex w-full flex-col items-start justify-center gap-1 text-form-label text-black dark:text-white"
			>
				Teléfono
				<input
					class="box-border h-14 w-full rounded-lg bg-white p-0 pl-6 text-base text-black [border:none] placeholder:text-neutral-700 placeholder:opacity-60"
					type="text"
					name="phone"
					id="phone"
					required
					placeholder="Teléfono"
				/>
			</label>
			<label
				for="message"
				class="flex w-full flex-col items-start justify-center gap-1 text-form-label text-black dark:text-white"
			>
				Mensaje
				<textarea
					class="mb-3 box-border h-14 min-h-[7.5rem] w-full rounded-lg bg-white p-0 pl-6 pt-6 text-base text-black [border:none] placeholder:text-neutral-700 placeholder:opacity-60"
					name="message"
					id="message"
					required
					placeholder="Escribe tu mensaje..."></textarea>
			</label>
			<button
				class="relative z-[1] m-0 inline-block w-full min-w-[12.5rem] overflow-hidden rounded-lg bg-primary px-12 py-0 text-base font-bold leading-[3.5rem] text-white [border:none] [transition:color_0.3s] before:absolute before:left-0 before:top-0 before:-z-[1] before:block before:h-full before:w-0 before:bg-black before:opacity-100 before:content-[''] before:[transition:width_0.3s] hover:cursor-pointer hover:before:w-full md:w-auto dark:before:bg-white dark:hover:text-black"
				type="submit">Enviar</button
			>
		</form>
	</div>
</section>
