---
import ContactInfoContainer from "@/components/ContactInfoContainer.astro"
import ContactInfoItem from "@/components/ContactInfoItem.astro"
import ContactForm from "@/components/ContactForm"

export interface ContactProps {
	href: string
	label: string
	alt: string
	value: string
	icon: string
}

const contactInfo: ContactProps[] = [
	{
		href: "tel:573162206739",
		label: "Teléfono",
		alt: "Ícono teléfono",
		value: "(+57) 316 220 6739",
		icon: "/icons/phone.svg",
	},
	{
		href: "mailto:jelemus024726@gmail.com",
		label: "Correo Electrónico",
		alt: "Ícono correo",
		value: "jelemus024726@gmail.com",
		icon: "/icons/email.svg",
	},
	{
		href: "https://maps.app.goo.gl/8kUxKbq1i7xX5aHW7",
		label: "Dirección",
		alt: "Ícono dirección",
		value: "Carrera 82 #22F-15 Oficina 401. Bogotá, Colombia",
		icon: "/icons/pin.svg",
	},
]
---

<section id="contact" class="relative px-8 py-32 text-black dark:text-white">
	<div
		class="relative m-auto flex w-full max-w-[36.5rem] flex-col items-stretch justify-center gap-[clamp(2rem,3vw,3rem)] gap-x-[auto] md:max-w-[80rem] md:flex-row md:justify-between"
	>
		<div class="flex w-full flex-none flex-col items-start text-left md:w-[47%]">
			<span
				class="mb-1 block font-body text-topper font-bold uppercase leading-[1.2em] tracking-widest text-primary [text-align:inherit]"
			>
				Contáctanos
			</span>
			<h2
				class="relative mx-0 mb-4 mt-0 max-w-[23ch] font-title text-header font-black leading-[1.2em] text-black [text-align:inherit] dark:text-white"
			>
				Comunícate con Nosotros
			</h2>
			<p
				class="m-0 mb-8 w-full max-w-[40.625rem] leading-[1.5rem] text-black [text-align:inherit] dark:text-white"
			>
				Estamos aquí para responder a todas sus preguntas, escuchar sus inquietudes y brindarle el
				apoyo que necesita. No dude en ponerse en contacto con nosotros. Ya sea que esté buscando
				más información sobre nuestros servicios, tenga dudas sobre nuestros productos o simplemente
				quiera compartir sus comentarios, estamos aquí para ayudarle en cada paso del proceso.
			</p>
			<ContactInfoContainer>
				{contactInfo.map((contact) => <ContactInfoItem {...contact} />)}
			</ContactInfoContainer>
		</div>
		<ContactForm client:load />
	</div>
</section>
