---
const year = new Date().getFullYear()
---

<footer
	class="bg-slate-200 px-0 py-5 text-sm leading-6 text-black shadow-nav dark:bg-neutral-800 dark:text-white dark:shadow-nav-dark"
>
	<div class="container mx-auto px-4 text-center">
		<p>
			Copyright &copy; {year} Todos los derechos reservados por Jorge Enrique Lemus | Dessarrollado por
			<a href="https://github.com/chrisdev-ui" class="hover:text-primary" target="_blank"
				>@chrisdev-ui</a
			>
		</p>
	</div>
</footer>
