---
import { Image } from "astro:assets"
import Navigation from "./Navigation.astro"

import Typography from "@/components/Typography.astro"
---

<section
	class="hero relative flex h-screen flex-col items-center px-8 py-0 text-center text-black dark:text-white"
>
	<Image
		src="/img/hero-image.webp"
		alt="Imagen de ojos humanos con una prótesis ocular"
		width="1920"
		height="1080"
		class:list={"h-auto w-full rounded"}
	/>
	<Typography as="h1" variant="h1" color="black" class:list={" tracking-widest"}
		>LABORATORIO DE PRÓTESIS OCULAR</Typography
	>
	<Typography as="h3" variant="h3" color="black" class:list={"mt-3 tracking-wider opacity-60"}
		>¡Descubre cómo podemos ayudarte a recuperar tu confianza y tu calidad de vida! Agenda una
		consulta hoy mismo.</Typography
	>
	<div class="flex flex-wrap items-center gap-6">
		<button
			class="group relative mb-2 me-2 mt-6 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-blue-400 to-green-600 p-0.5 font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-green-400 group-hover:to-blue-600 dark:text-white dark:focus:ring-green-800"
		>
			<span
				class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
			>
				Contáctanos
			</span>
		</button>
		<button
			class="group relative mb-2 me-2 mt-6 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-green-400 to-blue-600 p-0.5 font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-green-400 group-hover:to-blue-600 dark:text-white dark:focus:ring-green-800"
		>
			<span
				class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
			>
				Leer más
			</span>
		</button>
	</div>
	<Navigation />
</section>
<style></style>
