---
import Typography from "@/components/Typography.astro"
import Navigation from "@/sections/Navigation.astro"
---

<section
	class="hero relative flex h-screen flex-col items-center justify-center p-0 text-center text-black sm:flex-row sm:justify-between sm:py-0 sm:text-left dark:text-white"
>
	<div
		class="relative mx-auto mb-6 w-full max-w-full sm:mb-0 sm:px-4 md:left-12 md:max-w-[33.333333%] md:flex-[0_0_33.333333%] lg:left-[130px]"
	>
		<div class="mb-4 flex flex-col sm:mb-0">
			<Typography
				as="h2"
				variant="h2"
				color="black"
				class:list={"order-2 animate-slide-in-right text-h3 uppercase duration-700"}
			>
				Jorge Enrique Lemus
			</Typography>
			<Typography
				as="h1"
				variant="h1"
				color="black"
				class:list={"order-1 my-8 animate-slide-in-left text-hero tracking-wide duration-700 sm:my-4"}
			>
				LABORATORIO DE<span class="ml-4 text-primary">PRÓTESIS OCULAR</span>
			</Typography>
		</div>
		<button
			class="group relative mb-2 me-2 mt-6 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-primary to-primary p-0.5 font-medium text-gray-900 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-primary group-hover:to-white dark:to-white dark:text-white dark:focus:ring-green-800"
		>
			<span
				class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
			>
				Contáctanos
			</span>
		</button>
	</div>
	<div
		class="clipped relative h-full min-h-[350px] w-full bg-[url('/img/hero-image.webp')] bg-cover bg-center px-4 md:max-w-[66.666667%] md:flex-[0_0_66.666667%]"
	>
	</div>
	<Navigation />
</section>
<style>
	.clipped {
		clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
	}

	@media screen and (max-width: 650px) {
		.clipped {
			clip-path: none;
			max-height: 300px;
		}
	}
</style>
<script>
	const button = document.querySelector("button")

	button?.addEventListener("click", (event) => {
		event.preventDefault()
		const id = "#contact"
		const section = document.querySelector(id)
		if (section) {
			section.scrollIntoView({
				behavior: "smooth",
				block: "start",
			})
		}
	})
</script>
