---
import SEO from "@/components/SEO.astro"

interface Props {
	title: string
	description: string
	preloadImgLCP?: string
}

const { title, description, preloadImgLCP } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title={title} description={description} preloadImgLCP={preloadImgLCP} />
	</head>

	<body>
		<slot />
		<style is:global>
			:root {
				--color-primary: #0070f3;
				--color-secondary: #ff0080;
				--color-tertiary: #00ff72;
				--color-accent: #0070f3;

				--color-background: #ffffff;
				--color-text: #000000;
			}

			html {
				font-family:
					"Hind Madurai",
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue";
				background: var(--color-background);
				overflow-x: hidden;
				overscroll-behavior: none;
			}

			main {
				position: relative;
			}

			.sr-only:not(:focus):not(:active) {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}

			::-webkit-scrollbar {
				width: 10px;
				border-radius: 10px;
			}

			::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: theme("colors.primary");
				border: 2px solid transparent;
				background-clip: content-box;
			}

			::-webkit-scrollbar-thumb:active {
				background-color: #666;
			}

			::-webkit-scrollbar-track {
				background: var(--background-image);
			}

			::-webkit-scrollbar-corner {
				background: var(--background-image);
			}
		</style>
	</body>
</html>
